.contador {

    background-color: black;
    text-align: center;

}

.number {


    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border: solid rgb(200, 200, 200) 1px;
    border-radius: 10px;
    background-color: rgb(134, 134, 134);
    color: white;
    margin: 25px;
    padding: 25px;
}